html {
	height: 100%;
}

body {
	margin-right: 25%;
	margin-left: 25%;	
	padding: 0px;
	height: 100%;
}

a {
	text-decoration: none;	
}

.twitter-follow-button, .vcentered {
	vertical-align: middle;
}

.hcentered {
	text-align: center;
}

#content {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
}

h1 {
	color:#333;
	font:24px/24px verdana,arial,helvetica,sans-serif;
	font-weight:900;
	margin-bottom: 0px;
}

#main_frame {
	margin-top: 0px;	
	border: 1px dashed black;
	background-color: #eeeeee;
	height: 50%;
	padding: 2%;
}

.carousel {
	position: relative;
	width: 100%;
	height: 30%;	
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.carousel_scroll_area {	
	margin: 0;
	position: relative;	
	height: 100%;
	/*
	 * width will be set dynamically by the associated 
	 * carousel.js script, depending on the number of capsules.
	 * For n capsules, the width will be 100 * n %.
	 */
	
	transition: left 1s;
	-webkit-transition: left 1s;
	-moz-transition: left 1s;
	-o-transition: left 1s;
}

.carousel_capsule {
	float: left;
	display: block;
	position: relative;	
	
	/*
	 * width will be set dynamically by the associated 
	 * carousel.js script, depending on the number of capsules.
	 * For n capsules, the width will be 100 / n %.
	 */
}

.carousel_capsule_image {
	/*
	 * max-width is used to provide automatic scaling of images when the 
	 * browser's window is resized. 
	 * See http://unstoppablerobotninja.com/entry/fluid-images for more info.
	 */
	max-width: 100%;	
	position: relative;
}

.carousel_capsule_desc {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 30%;
	width: 100%;
	overflow: hidden;
}

.carousel_capsule_desc_overlay {	
	background-color: black;
	opacity: 0.6;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.carousel_capsule_desc_content {
	position: relative;
	color: white;
	padding: 8px 13px 0px 13px;
}

.carousel_capsule_desc_content h1 {
	color:white;
	font:1.5em/1.5em verdana,arial,helvetica,sans-serif;
	font-weight:900;
	margin-bottom: 0px;
}

.carousel_capsule_desc_content {	
	font-size:0.7em;		
}

.carousel_control_left {
	position: absolute;
	top: 5%;
	left: 3%;
	height: 15%;
	padding-right: 5%;
	visibility: hidden;
}

.carousel_control_right {
	position: absolute;
	right: 0px;
	top: 5%;
	right: 3%;
	height: 15%;
	padding-left: 5%;
	visibility: hidden;
}

.left_arrow::before {
	width: 0;
	height: 0;
	border-top: 0.7em solid transparent;
	border-bottom: 0.7em solid transparent;
	border-right: 0.7em solid black;
	content: '';
	left: -20%;
	position: absolute;
	top: 0;
}

.right_arrow:after {	
	width: 0;
	height: 0;
	border-top: 0.7em solid transparent;
	border-bottom: 0.7em solid transparent;
	border-left: 0.7em solid black;
	content: '';
	right: -20%;
	position: absolute;
	top: 0;
}

a.right_arrow, a.left_arrow {
	color: black;
}		