<div id="about">
    {{ content }}

    <div class='hcentered'>
        <a href="http://ca.linkedin.com/in/jgilli">
            <img class='vcentered' src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Julien Gilli's profile on LinkedIn">
        </a>

        <a href="https://twitter.com/misterdjules" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="true">Follow @misterdjules</a>
        <iframe class='vcentered' src="http://ghbtns.com/github-btn.html?user=misterdjules&type=follow&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="246px" height="30px"></iframe>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
</div>